# Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Override files (usually local)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraform/
.terraform.lock.hcl
